<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="weatherOracle.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <uses-sdk android:minSdkVersion="10" />

    <instrumentation
    android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="weatherOracle.activity" />
    
    
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:noHistory="true"
        android:screenOrientation="portrait" 
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">        
        <uses-library android:name="android.test.runner" />
        <activity
            android:name="HomeMenuActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ConditionAdderActivity"></activity>
        <activity android:name=".FiltersActivity"></activity>
        <activity android:name=".ToolsActivity"></activity>
        <activity android:name=".NotificationActivity"></activity>
        <activity android:name=".FilterMenuActivity"></activity>
        <activity android:name=".FilterOptionsActivity"></activity>
        <activity android:name=".TimeRuleViewerActivity"></activity>
        <activity android:name=".ConditionRuleViewerActivity"></activity>   
    </application>
</manifest>